.more-info {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: #FFDB00;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.72;
  letter-spacing: 0.3px;
  color: #1E3264;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.more-info:hover {
  transition: border-radius .5s ease;
  outline: 2px solid #1E3264;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {
  .more-info {
    font-size: 1rem;
    line-height: 1.94;
  }
}