.semples__title {
  margin: 0 0 48px 0;
  padding: 0;
  width: 244px;
  height: fit-content;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3.75rem;
  line-height: 1.08;
  letter-spacing: 0.3px;
  color: #1E3264;
}

@media screen and (max-width: 1439px) {
  .semples__title {
    margin: 0 0 48px 0;
  }
}

@media screen and (max-width: 767px) {
  .semples__title {
    margin: 0 0 20px 0;
    width: 240px;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}