.naturalness__image-wrapper {
  margin: 20px 0 0;
  padding: 0;
  max-width: 430px;
  height: 610px;
  position: relative;
}

.naturalness__image-wrapper::before {
  margin: 0;
  padding: 0;
  content: url(../../../images/mangoOctagon.svg);
  width: 219px;
  height: 219px;
  position: absolute;
  top: 22px;
  left: -129px;
}

@media screen and (max-width: 1439px) {
  .naturalness__image-wrapper{
    margin: -1px auto 0;
  }

  .naturalness__image-wrapper::before {
    margin: -16px 0 0 15px;
  }
}

@media screen and (max-width: 767px) {
  .naturalness__image-wrapper{
    max-width: 280px;
    height: 397px;
  }

  .naturalness__image-wrapper::before {
    margin: 0;
    content: url(../../../images/mangoSmall.svg);
    width: 126px;
    height: 126px;
    left: -8px;
    top: 177px;
  }
}