.tastes__subtitle {
  margin: 0;
  padding: 0;
  max-width: 386px;
  height: fit-content;
  font-family: 'Inter' Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.72;
  letter-spacing: 0.3px;
  color: #FFF;
}

@media screen and (max-width:767px) {
  .tastes__subtitle {
    max-width: 240px;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.36;
  }
}