.semples__email-wrapper {
  margin: 0 ;
  padding: 0;
  width: 633px;
  border-bottom: 2px solid white;
}

@media screen and (max-width: 1439px) {
  .semples__email-wrapper{
    margin: 12px 0 0 0;
    width: 540px;
  }
}

@media screen and (max-width: 768px) {
  .semples__email-wrapper{
    /* transform: translateY(-36px); */
    width: 220px;
  }
}