.footer__contacts-title {
  margin: 2px 0 21px 0;
  padding: 0;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .footer__contacts-title{
    margin-top: 0px;
    text-align: center;
  }
}