.composition {
  display: grid;
  grid-template-areas:
    "ttl-sttl  decoration composition"
    "button . .";
  margin: 0 auto 50px;
  padding: 0;
  max-width: 1340px;
  max-height: fit-content;
  background-color: #8556F8;
}

@media screen and (max-width: 1439px) {
  .composition {
    max-width: 668px;
    grid-template-areas:
      "ttl-sttl . "
      "composition decoration"
      "button .";

  }
}

@media screen and (max-width: 767px) {
  .composition {
    max-width: 280px;
    grid-template-areas:
      "ttl-sttl"
      "composition"
      "button";

  }
}