.creative__paragraph {
  margin: 0;
  padding: 5px 0 0 0;
  height: 76px;
  box-sizing: border-box;
  background-color: #CEF564;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.25;
  text-transform: uppercase;
  color: #016450;
  width: max-content;
  transform: translateX(-93px);
  overflow: hidden;
}

@media screen and (max-width:767px) {
  .creative__paragraph {
    padding-top: 20px;
    height: 64px;
    font-size: 1.25rem;
    line-height: 1.5rem;
    transform: translateX(-15px);
  }
}