.semples__input {
  margin: 13px auto;
  padding: 0;
  border: 0;
  outline: 0;
  width: 310px;
  background-color: transparent;
  caret-color: #fff;
  color: #fff;
}

@media screen and (max-width: 1439px) {
  .semples__input{
    width: 540px;
  }
}

@media screen and (max-width: 767px) {
  .semples__input{
    width: 220px;
  }
}