.naruralness__image-wrapper {
  margin: 20px 0 0;
  padding: 0;
  width: 430px;
  height: 610px;
  position: relative;
}

.naruralness__image-wrapper::before {
  margin: 0;
  padding: 0;
  content: url(../../../images/mangoOctagon.svg);
  position: absolute;
  top: 22px;
  left: -129px;
}

@media screen and (max-width: 1439px) {
  .naruralness__image-wrapper{
    margin: 0 auto;
  }

  .naruralness__image-wrapper::before {
    margin: -16px 0 0 15px;
  }
}