.footer__navigation-item {
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: 0.3px;
  color: #FFF;
}

.footer__navigation-item:nth-child(2){
  margin-top: 3px;
}

.footer__navigation-item:nth-child(3){
  margin-top: 3px;
}