.semples__label {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.72;
  letter-spacing: 0.3px;
  color: #FFF;
}

@media screen and (max-width: 767px) {
  .semples__label {
    font-size: 0.875rem;
    line-height: 2.21;
  }
}