.semples__label {
  margin: 0;
  padding: 0;
  width: 310px;
  height: fit-content;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.72;
  letter-spacing: 0.3px;
  color: #FFF;

}