.semples__form-title {
  margin: 24px 0 50px 30px;
  padding: 0;
  width: fit-content;
  height: fit-content;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.25;
  color: #FFF;
}

@media screen and (max-width: 767px) {
  .semples__form-title{
    margin: 20px 0 40px 20px;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}