.composition__title {
  margin: 91px 0 30px 100px;
  padding: 0;
  max-width: 457px;
  height: fit-content;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3.25rem;
  line-height: 0.92;
  color: #FFFFFF;
}

@media screen and (max-width: 1439px) {
  .composition__title{
    margin: 61px 0 30px 60px;
  }
}

@media screen and (max-width: 767px) {
  .composition__title{
    margin: 20px 0 14px 20px;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: 0.3px;
  }
}