.composition__decoration {
  margin: 0 0 0 -65px;
  padding: 0;
  width: fit-content;
  height: 580px;
  box-sizing: border-box;
  grid-area: decoration;
}

.composition__decoration::before {
  display: block;
  margin: 123px 0 0 33px;
  padding: 0;
  width: 185px;
  height: 185px;
  content: url(../../../images/greenCircle.svg);
}

.composition__decoration::after {
  display: block;
  margin: 13px 0 0 130px;
  padding: 0;
  width: 138px;
  height: 138px;
  content: url(../../../images/orangeCircle.svg);
}

@media screen and (max-width: 1439px) {
  .composition__decoration {
    margin: -125px 0 0 -185px;
  }

  .composition__decoration::before {
transform: translateX(58px);
  }

  .composition__decoration::after {
    transform: translateX(10px) translateY(8px);
  }
}

@media screen and (max-width: 767px) {
  .composition__decoration {
    display: none;
  }
}